.login-form {
  background: linear-gradient(to bottom, #663399, #8a2be2);
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  max-width: 400px;
  margin: 0 auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  clip-path: polygon(0 10%, 10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%);
}

.login-form form > div {
  display: flex;
  flex-direction: column;
}

.login-form form {
  display: flex;
  flex-direction: column;
}

.login-form h1 {
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.login-form label {
  color: white;
  font-size: 14px;
  margin-bottom: 5px;
}

.login-form input[type='email'],
.login-form input[type='password'] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.login-form input[type='email']:focus,
.login-form input[type='password']:focus {
  outline: none;
  box-shadow: 0 0 3px 3px rgba(106, 90, 205, 0.3);
}

.login-form button[type='submit'] {
  background-color: #663399;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 9px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #663399;
  transition: all 0.3s;
}

.login-form button[type='submit']:hover {
  background-color: #8a2be2;
  border: 1px solid #fff;
}

.login-form .register-btn {
  margin-top: 20px;
}
.login-form .register-btn button {
  background-color: #663399;
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
  border: 1px solid #663399;
  transition: all 0.3s;
  text-transform: uppercase;
}

.login-form .register-btn button:hover {
  background-color: #8a2be2;
  border: 1px solid #fff;
}
