.admin-dashboard {
  background: linear-gradient(to bottom, #663399, #8a2be2);
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 800px;
  margin: 0 auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  clip-path: polygon(0 10%, 10% 0, 90% 0, 100% 10%, 100% 90%, 90% 100%, 10% 100%, 0 90%);
}

.admin-dashboard h2 {
  color: white;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

.admin-dashboard label {
  color: white;
  font-size: 14px;
  margin-bottom: 5px;
}

.admin-dashboard input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 16px;
}

.admin-dashboard input:focus {
  outline: none;
  box-shadow: 0 0 3px 3px rgba(106, 90, 205, 0.3);
}

.admin-dashboard button[type='submit'] {
  background-color: #663399;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 9px;
  width: 100%;
  font-size: 16px;
  cursor: pointer;
  border: 1px solid #663399;
  transition: all 0.3s;
}

.admin-dashboard button[type='submit']:hover {
  background-color: #8a2be2;
  border: 1px solid #fff;
}

.admin-dashboard .admin-dashboard-column {
  width: 48%;
  overflow: auto;
  max-height: 600px;
}

.admin-dashboard .admin-dashboard-column form {
  width: 100%;
  overflow: hidden;
}

.admin-dashboard .admin-dashboard-column form * {
  display: block;
  width: 100%;
}

.admin-dashboard .admin-dashboard-column form input {
  box-sizing: border-box;
}

.admin-dashboard .app-item {
  background: #663399;
  background: radial-gradient(circle at center, #8a2be2, #663399);
  color: #fff;
  margin-bottom: 10px;
  padding: 16px 20px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.admin-dashboard .app-item p {
  margin: 0;
}

.admin-dashboard .app-item button {
  background: #8a2be2;
  background: linear-gradient(145deg, #8a2be2, #887f8f);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border: 1px solid #663399;
}

.admin-dashboard .app-item button:hover {
  background: linear-gradient(145deg, #8a2be2, #887f8f);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.4);
  border: 1px solid #fff;
  /* transform: scale(1.05); */
}
